body {
    width: 960px;
    height: auto;
    margin: 0 auto;
    font-family: Verdana;
    background-image:url('../images/bamboo.png');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
}
header {
    width: 800px;
    margin: 0 auto;
    padding-top: 15px;
}
nav {
    width: 800px;
    height: 65px;
    margin: 0 auto;
}
h2 {
    text-align: center;
}
 ul
{
    list-style-type:none;
    width: 445px;
    margin:0 auto;
    padding:0;
}
 li {
    width: 138px;
    height: 50px;
    background: black;
    margin: 5px;
    float:left;
}
 a
{
    display:block;
    width:auto;
    text-align: center;
    padding-top: 12px;
    font-size: 120%;
    text-decoration: none;
    color: white;
}
a:hover {
    color: #0070BB;
}
#animals {
    width: 780px;
    height: auto;
    margin: 0 auto;
    border: 1px solid lightgray;
    padding: 0px 10px 2px 10px;
    background-color: white;
    margin-bottom: 15px;
    clear: both;
}
#animalsImg {
    width: 800px;
    margin-left: -10px;
}
#name {
    width: 800px;
    height: 40px;
    background-color: #0070BB;
    margin: -22px 0px 0px -10px;
}
#name img {
    float: left;
    padding-right: 10px;
}
#name h3 {
    padding-top: 6px;
}
#animals h4 {
    margin-bottom: 3px;
}